	*{
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}
	
	body  {
		font-family:Arial,sans-serif;
		line-height:1.6;
	}
	header{
		background:#222;
		color:white;
		padding:15px;
		display:flex;
		justify-content:space-between;
		align-items:center;
	}
	#hero{
		background:linear-gradient(120deg,#6a11cb,#2575fc);
		color:white;
		text-align:center;
		padding:60px 20px;
	}
	#hero button {
		margin-top:15px;
		padding:10px 25px;
		border:none;
		background:white;
		colur:#2575fc;
		font-size:16px;
		cursor:poinyer;
		border-radius:5px;
	}

	section{
		padding:40px 20px;
	}
	
	.cards{
		display:flex;
		gap:20px;
		flex-wrap:wrap;
	}
	.card{
		background:#f4f4f4;
		padding:20px;
		flex:1;
		min-width:200px;
		border-radius:8px;
	}
	form{
		max-width:400px;
	}
	form input,form textarea{
		width:100%;
		margin-bottom:10px;
		padding:10px;
	}
	form button{
			background: #2575fc;
			color:white;
			border:none;
			padding:10px;
			cursor:pointer;
			width:100%;
	}
	foster{
		background: #222;
		color:white;
		text-align:center;
		padding:15px;
	}
	
	/*Responsive*/
	@media (max-width: 768px) {
		.cards{
			flex-direction:column;
		}
	}
	
	
		
	